<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading" style="height:auto; width:50vw;">
  <div style="display: block;">
    <canvas baseChart 
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
  <br><br><br>
</div>

<br><br><br>
