
<!-- Previous -->
<!-- <div class="containet">
    <div class="row">
        <div class="col-xs-12" *ngFor="let mySubscription of mySubscriptions">
            <a [routerLink]="['/test/',mySubscription.courseCode]" (click)="Enroll()">
                <button class="ml-2 btn btn-primary" (click)="Enroll()">
                    Enroll
                </button>
            </a>    
                {{ mySubscription.name }} : {{ mySubscription.length.slice(0,10) }}<br> <br>
        </div>
    </div>
</div> -->
<!-- end of previous -->


<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<section id="pricing" class="pricing section-bg" *ngIf="!isLoading">
    <div class="container mt-5">

        <div class="row ml-auto mr-auto">

            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 mt-4 mt-md-0"
                *ngFor="let mySubscription of mySubscriptions">
                <div class="box mb-5" data-aos="zoom-in">
                    <div class="header pb-4" style="background-color: #CCCCCC;">
                        <h2 class="mb-1 text-left pl-3 pt-2">{{ mySubscription.name }}</h2>
                        <h6 class="text-left pl-3 pt-1">Expire on: {{ mySubscription.length.slice(0,10) }}</h6> 
                    </div>
                    <div class="body">
                        <div class="image">
                            <img class="physics-img" [src]="courseService.baseUrl+'Images/'+mySubscription.imageUrl" alt="">
                        </div>
                    </div>
                    <div class="btn-wrap">
                    <a [routerLink]="['/test/',mySubscription.courseCode]">
                        <button class="btn-buy" (click)="Enroll()">
                            Enroll
                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
