<div>
    <header id="header" >
        <div class="container d-flex">
    
          <div class="logo mr-auto">
            <h1 class="text-light"><a routerLink="/"><span>Online Learning</span></a></h1>
          </div>
    
          <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a routerLink="/" *ngIf="!isAdmin">Home</a></li>
                    <li class="active"><a routerLink="/admin" *ngIf="isAdmin">Home</a></li>
                    <li><a routerLink="/test" *ngIf="!isAdmin">Courses</a></li>
                    <li><a routerLink="/subscriptions" *ngIf="!isAdmin">My Subscriptions</a></li>
                    <li><a routerLink="/admin/addCourse" *ngIf="isAdmin">Add Courses</a></li>
                    <li><a routerLink="/admin/viewStudent" *ngIf="isAdmin">View Students</a></li>
                    <li><a routerLink="/register" *ngIf="!isLoggedIn" class="btn-get-started scrollto">Sign Up</a></li>
                    <li><a routerLink="/login" *ngIf="!isLoggedIn" class="btn-login scrollto">Log In</a></li>
                    <li><a (click)="logout()" class="btn-get-started scrollto" *ngIf="isLoggedIn">Log Out</a></li>
                </ul>
          </nav>
    
        </div>
    </header>
</div>

  

<!-- main app container -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
