body{
    background-color: #eee8e8;
}

a:hover {
    color: #1eb4ff;
    text-decoration: none;
}

.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
  }

  @media (max-width: 768px) {
    .pricing .box {
      width: 270px;
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    .card-div {
      width: 350px;
      margin: auto;
    }
  }

  .arrow-image{
    height: 27px;
    width: 31px;
  }

  .physics-img{
      height: 102px;
      width: auto;
  }

  .pricing h4 {
    font-size: 36px;
    color: #009cea;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  
  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #272626;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing ul li {
    padding-bottom: 16px;
  }
  
  .pricing .btn-wrap {
    padding: 20px 15px;
    text-align: center;
  }
  
  .pricing .btn-buy {
    background: #009cea;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .pricing .featured h3, .pricing .featured h4, .pricing .featured h4 span, .pricing .featured ul, .pricing .featured ul .na {
    color: #fff;
  }
  
  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #009cea;
    color: #fff;
  }