<div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular 8 & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <!-- <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul> -->
    </div>
</div>

<!-- <p>course works!</p>

<div class="containet">
    <div class="row">
        <div class="col-xs-12">
            <a
            *ngFor="let course of courses"
            [routerLink]="['/test/',course.courseCode]">
                {{ course.courseCode }} : {{ course.name }}
            </a>
        </div>
    </div>
</div> -->

<!-- <app-course></app-course> -->
